---
import Button from '../Button.astro'
---
<div class="container-headline">
    <h1>Building back <span class="break">California
	<span class="titleseries">
	<span> safer</span>
	<span> stronger</span>
	<span> smarter </span>
	<span> better </span>
	<span> cleaner </span>
	<span> together </span>
    </span>
    </span> 
<span class="mobile">smarter</span>
</h1>
<p>RISE Homes (Rebuilding Incentives for Sustainable Electric Homes) is a statewide program to provide financial incentives, assistance, and support for rebuilding energy-efficient, all-electric homes throughout the state of California. RISE Homes also offers support for homeowners and property owners in applying for incentives, finding a new home contractor, and coordinating with insurance companies.
If you've already qualified, you can <a href="#" class="contact-link" target="_blank">start your application</a> now.</a>

</p>
<!-- button section -->
 <div class="button-section gap-2 d-md-block d-lg-inline-flex   mt-4 container">
    <div class="row">
        <div class="col-md col-sm-12 justify-content-center justify-content-lg-start d-flex p-0">
            <Button href="https://nam.dcv.ms/xgxlCfQeoF" target="_blank" aria-label="Link text opens in a new window" classes="mb-2">Begin the Process</Button>
        </div>
    </div>
        
  </div>
  <!-- end button section -->
</div>
<!-- end container headline -->