---
import Breadcrumbs from '../Breadcrumbs.astro'
const {crumb} = Astro.props
---

<div class="row d-flex align-items-center">
    <div class="col-md-12">
        <Breadcrumbs crumb={crumb}/>
           <slot name="h1"></slot>
    </div>
                
</div>
    <div class="container-liquid svg-container-sub">
        <div class="hide-overflow">
        <slot name="svg"></slot>
        </div>

    </div><!-- end svg-container-sub -->