    <!-- Content Sections -->
<section class="bg-primary overflow-hidden">
    <div class="stacking-section">
      <div class='container-stacking-cards'>
    <div class='cards'>
        <!-- button 1 -->
      <button data-url="./why.html" class='card one'>
        <div class="content-wrapper">
            <div class="left-side">
                <div class="title" style="width:80%">
                    ¿Por qué sistemas eléctricos?
                </div>
                <div class="big-writing">
                    Todo eléctrico para un <strong><span>futuro</span> más limpio</strong>
                </div>
                <div class="arrow-section">
                    <a href="./why-es.html" class="homepage-learn-more">
                     Conozca más <span></span>
                     </a>
                </div>
            </div>
            <div class="right-side">
                <p>Las reconstrucciones totalmente eléctricas brindan asequibilidad a largo plazo con equipos de alta eficiencia y bajo mantenimiento. Estos electrodomésticos totalmente eléctricos podrían ahorrarle hasta  
                    <a href="https://www.cnet.com/home/energy-and-utilities/the-real-costs-of-going-all-electric-and-how-you-can-save/" target="_blank"><strong>$2,500 al año</strong></a> en costos de servicios públicos.
             
                </p>
                <p>Al utilizar todo eléctrico en toda la reconstrucción de su hogar, usted tendrá aire más limpio en el interior mientras se reducen los gases de efecto invernadero para ayudar a cumplir el objetivo de energía limpia de California y combatir el cambio climático.</p>
 <p>If you've already qualified, you can <a href="#" class="contact-link" target="_blank">start your application</a> now.</p>
                <div class="arrow-section mobile">
                     <a href="./why-es.html" class="homepage-learn-more">
                   Conozca más <span></span>
                   </a>
                </div>
            </div>
        </div>
      </button>
      <!-- button 2 -->
      <button data-url="./homeowners.html" class='card two' >
        <div class="content-wrapper">
            <div class="left-side">
                <div class="title" style="width:80%">
                    Cómo el programa trabaja para usted
                </div>
                <div class="big-writing">
                   Cómo RISE Homes <br/> <strong>trabaja para <span>usted</span></strong>
                </div>
                <div class="arrow-section">
                     <a href="./homeowners-es.html" class="homepage-learn-more">
                    Conozca más <span></span>
                    </a>
                </div>
            </div>
            <div class="right-side">
                <p>Cuando necesite reconstruir, RISE Homes le ayuda en cada paso del camino. Desde la coordinación con su compañía de seguros hasta la búsqueda de constructores y contratistas confiables, trabajaremos individualmente para encontrar las soluciones adecuadas para usted.</p>
                <p>En promedio, los incentivos de RISE Homes varían entre <strong>$7,000 y $10,000 </strong> para reconstruir una casa unifamiliar con soluciones de energía eléctrica, pero los propietarios que cumplan los requisitos para los incentivos de capital pueden recibir cantidades hasta de un 50% más.</p>
                <p>Las cantidades de los incentivos dependen de las selecciones que haga al reconstruir.  Visite el enlace para conocer los diferentes incentivos disponibles.</p>
 <p>If you've already qualified, you can <a href="#" class="contact-link" target="_blank">start your application</a> now.</p>
                <div class="arrow-section mobile">
                     <a href="./homeowners-es.html" class="homepage-learn-more">
                    Conozca más <span></span>
                    </a>
                </div>
            </div>
        </div>
      </button>
      <!-- button 3 -->
      <button data-url="./community.html" class='card last three'style="filter:blur(0)!important">
       <div class="content-wrapper">
            <div class="left-side">
                <div class="title" style="width:70%">
                    Reconstruir comunidades
                </div>
                <div class="big-writing">
                  Financiar un <strong><span>futuro</span> 
                   más limpio</strong> para California
                </div>
                <div class="arrow-section">
                    <a href="./community-es.html" class="homepage-learn-more">
                    Conozca más<span></span>
                    </a>
                </div>
            </div>
            <div class="right-side">
                <p>La Comisión de Servicios Públicos de California (California Public Utilities Commission) se asoció con empresas de servicios públicos locales para financiar este programa de  
                    <strong>22 millones de dólares</strong>. Los incentivos se pueden pagar directamente a los propietarios de viviendas o a través del constructor de su elección. Cuando los incentivos se pagan directamente al constructor de la vivienda, ese constructor está obligado a aplicar esos ahorros directamente al costo final de la vivienda. </p>
                <p>Por lo general, los fondos se distribuyen de dos a tres meses después de que se completa la construcción.</p>
 <p>If you've already qualified, you can <a href="#" class="contact-link" target="_blank">start your application</a> now.</p>
                <div class="arrow-section mobile">
                    <a href="./community-es.html" class="homepage-learn-more">
                    Conozca más <span></span>
                    </a>
                </div>
            </div>
        </div>
      </button>
     
    </div>
  </div>
  <div class='container2'>
  </div>
  </div>
</section>