 <!-- Full-width Panel -->
    <div id="fullWidthPanel" class="full-width-panel" aria-label="Funding Panel Closed">
        <button class="close" aria-label="close button">cerca</button>
     <div class="panel-content">
        <h2 style="font-size: 1.5rem; text-transform: none;">Conozca más sobre los fondos</h2>
        <div class="t-system">
            <div style="font-size: 1rem; text-transform: none;">Seleccione la categoría</div>
            <div style="font-size: 0.8rem; text-transform: none;">Conozca más sobre los fondos <a href="bythenumbers-es.html"><img src="./images/funds-circle.svg" alt=""></a></div>
        </div>
        <div class="select-area w-100">
            <select class="form-select" aria-label="Default select example" id="homeDropdown">
            <option selected value="program">Indicadores de rendimiento del programa</option>
            <option value="participation">Participación y demografía</option>
            </select>
        </div>
        <div id="performanceList"></div>

    </div>
    </div>