<!-- Full-Width Menu -->
<div class="full-width-menu" id="fullMenu">
    
    <div class="container p-4">
        <div class="row">
             <div class="full-width-logo">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 329 49">
  <path fill="#2D425D" d="M63.793 41.052h-4.392v7.297h-8.052V20.887h13.014c7.768 0 12.648 3.884 12.648 10.16 0 4.042-2.033 7.023-5.572 8.671l6.141 8.63h-8.622l-5.165-7.296Zm.082-14.044h-4.474v8.043h4.474c3.335 0 5.002-1.49 5.002-4.001 0-2.55-1.667-4.042-5.002-4.042Z"/>
  <path fill="#C5D368" d="M85.515 17c3.075 0 5.142-1.942 5.142-4.602 0-2.454-2.067-4.295-5.142-4.295s-5.142 1.943-5.142 4.449S82.44 17 85.515 17Z"/>
  <path fill="#2D425D" d="M81.38 48.35h8.271V20.836H81.38V48.35Zm12.252-2.558 2.757-5.728c2.545 1.585 6.415 2.66 9.913 2.66 3.817 0 5.248-.972 5.248-2.506 0-4.5-17.229.102-17.229-10.893 0-5.216 4.877-8.898 13.201-8.898 3.923 0 8.269.87 10.974 2.403l-2.757 5.676c-2.81-1.534-5.62-2.046-8.217-2.046-3.711 0-5.302 1.126-5.302 2.557 0 4.705 17.23.154 17.23 10.995 0 5.114-4.93 8.745-13.465 8.745-4.824 0-9.702-1.28-12.352-2.965h-.001Zm57.838-8.949h-21.576c.795 3.426 3.817 5.522 8.164 5.522 3.022 0 5.196-.869 7.157-2.66l4.4 4.604c-2.651 2.915-6.627 4.449-11.769 4.449-9.86 0-16.275-5.984-16.275-14.166 0-8.233 6.521-14.165 15.215-14.165 8.377 0 14.844 5.42 14.844 14.268 0 .614-.107 1.484-.16 2.148Zm-21.682-4.654h14.049c-.583-3.477-3.286-5.728-6.998-5.728-3.764 0-6.467 2.198-7.051 5.728Zm53.047.625h-15.088V20.888h-4.799v27.46h4.799V36.974h15.088V48.35h4.799V20.89h-4.799v11.925Zm23.235-12.379c-8.429 0-14.547 5.986-14.547 14.232 0 8.247 6.118 14.232 14.547 14.232s14.547-5.986 14.547-14.232c0-8.246-6.118-14.232-14.547-14.232Zm0 24.124c-5.734 0-9.738-4.067-9.738-9.892 0-5.824 4.004-9.892 9.738-9.892s9.739 4.068 9.739 9.892c0 5.825-4.005 9.892-9.739 9.892Zm53.208-24.124c-4.586 0-8.463 1.834-10.764 4.999-1.92-3.242-5.383-5-9.964-5-3.791 0-7 1.225-9.223 3.445v-3.245h-4.654v28.065h4.757V33.821c0-5.664 3.274-9.046 8.759-9.046 4.786 0 7.316 2.733 7.316 7.902V48.7h4.757V33.821c0-5.664 3.274-9.046 8.759-9.046 4.786 0 7.316 2.733 7.316 7.902V48.7h4.757V32.48c0-7.542-4.416-12.044-11.814-12.044h-.002Zm29.663 0c-8.101 0-13.98 5.986-13.98 14.232 0 8.247 6.291 14.232 14.96 14.232 4.495 0 8.504-1.682 10.999-4.612l.587-.691-2.955-3.243-.813.96c-1.77 2.093-4.528 3.245-7.767 3.245-5.536 0-9.513-3.269-10.208-8.244h23.054v-1.05c0-.094.012-.189.022-.278.016-.149.029-.292.029-.42 0-8.188-5.857-14.131-13.928-14.131Zm0 4.29c4.723 0 8.324 3.05 9.095 7.549h-18.182c.796-4.56 4.327-7.548 9.087-7.548Zm29.024 7.955c-4.491-.823-7.243-1.463-7.243-4.131 0-3.328 4.066-3.824 6.49-3.824 2.843 0 5.491.759 7.455 2.136l.98.688 2.269-3.806-.767-.559c-2.289-1.67-6.17-2.75-9.886-2.75-8.34 0-11.298 4.399-11.298 8.165 0 6.35 5.992 7.43 10.806 8.296 4.361.784 7.034 1.392 7.034 3.89 0 .945 0 3.824-6.851 3.824-4.039 0-7.366-1.553-8.988-2.884l-.997-.818-2.272 3.81.637.569c2.416 2.16 7.045 3.613 11.517 3.613 7.224 0 11.711-3.129 11.711-8.163 0-6.112-5.876-7.19-10.597-8.056Z"/>
  <path fill="#5EC4B6" d="M17.277 31.372 0 48.021v-9.857l12.169-11.72 5.108 4.928ZM42.896 20.87v9.84L16.172 4.931 21.281.02l21.615 20.85Z"/>
  <path fill="#C5D368" d="M42.901 38.51v9.839L12.137 18.673.005 30.377v-9.84L12.137 8.834l9.136 8.812 5.108 4.928 16.52 15.935Z"/>
</svg>
            </div>   
        </div>
        <div class="row">
            <div class="top">
                <div class="menu-links">
                   <ul class="list-unstyled">
                        <li><a href="./about-es.html">Acerca de RISE Homes</a></li>
                        <li><a href="./why-es.html">¿Por qué sistemas eléctricos?</a></li>
                        <li><a href="./homeowners-es.html">Propietarios de vivienda</a></li>
                        <li><a href="./community-es.html">Reconstruir comunidades</a></li>
                        <li><a href="./bythenumbers-es.html">En cifras</a></li>
                        <li><a href="./faq-es.html">Preguntas frecuentes</a></li>
                    </ul>
                </div>
            </div>
             <div class="">
                <div class="contact-info">
                    <h3 class="mb-3">Comuníquese con RISE Homes:</h3>
                    <p><a href="mailto:info@risehomesca.com" class="contact-link">info@risehomesca.com</a></p>
                    <p><a href="tel:1-833-202-3654" class="contact-link">833-202-3654</a></p>
                   <p><a href="./regulatory-es.html" class="contact-link">Información Regulatoria</a></p>
                </div>
            </div>
        </div>
    </div>
    <button class="btn-close" id="menuCloseButton">
        <i><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22 21" fill="none">
  <rect x="2.66113" width="27" height="2" transform="rotate(45 2.66113 0)" fill="white"/>
  <rect y="19.0919" width="27" height="2" transform="rotate(-45 0 19.0919)" fill="white"/>
</svg></i> menú
    </button>

</div>