---
---

<section class="bg-primary overflow-hidden">
    <div class="stacking-section">
      <div class='container-stacking-cards'>
    <div class='cards'>
        <!-- button 1 -->
      <button data-url="./why.html" class='card one'>
        <div class="content-wrapper">
            <div class="left-side">
                <div class="title" style="width:50%">
                    Why Electric
                </div>
                <div class="big-writing">
                    All-electric for a <strong>cleaner <span>future</span></strong>
                </div>
                <div class="arrow-section">
                    <a href="./why.html" class="homepage-learn-more">
                     Learn More <span></span>
                     </a>
                </div>
            </div>
            <div class="right-side">
                <p>All-electric rebuilds provide long-term affordability with high-efficiency, low-maintenance equipment. These all-electric appliances could save you up to  <a href="https://www.cnet.com/home/energy-and-utilities/the-real-costs-of-going-all-electric-and-how-you-can-save/" target="_blank"><strong>$2,500 a year</strong></a> in utility costs.
             
                </p>
                <p>By using all-electric throughout your home rebuild, you’re getting cleaner air inside while reducing greenhouse gasses to help meet California’s clean energy goal and combat climate change.</p>
                <p>If you've already qualified, you can <a href="#" class="contact-link" target="_blank">start your application</a> now.</p>

                <div class="arrow-section mobile">
                     <a href="./why.html" class="homepage-learn-more">
                   Learn More <span></span>
                   </a>
                </div>
            </div>
        </div>
      </button>
      <!-- button 2 -->
      <button data-url="./homeowners.html" class='card two' >
        <div class="content-wrapper">
            <div class="left-side">
                <div class="title" style="width:80%">
                    HOW THE PROGRAM WORKS
                </div>
                <div class="big-writing">
                    How RISE Homes <br/> <strong>works for <span>you</span></strong>
                </div>
                <div class="arrow-section">
                     <a href="./homeowners.html" class="homepage-learn-more">
                    Learn More <span></span>
                    </a>
                </div>
            </div>
            <div class="right-side">
                <p>When you need to rebuild, RISE Homes helps you every step of the way. From coordinating with your insurance company, to finding reliable homebuilders and contractors, we will work one-on-one to find the right solutions for you.</p>
                <p>On average, RISE Homes incentives range from <strong>$7,000 to $10,000 </strong> for rebuilding a single-family home with electric energy solutions, but homeowners who qualify for equity incentives can receive amounts up to 50% more.</p>
                <p>Incentive amounts depend on the selections you make when rebuilding. Visit the link below to see the different incentives available.</p>
                <p>If you've already qualified, you can <a href="#" class="contact-link" target="_blank">start your application</a> now.</p>
                <div class="arrow-section mobile">
                     <a href="./homeowners.html" class="homepage-learn-more">
                    Learn More <span></span>
                    </a>
                </div>
            </div>
        </div>
      </button>
      <!-- button 3 -->
      <button data-url="./community.html" class='card last three'style="filter:blur(0)!important">
       <div class="content-wrapper">
            <div class="left-side">
                <div class="title" style="width:70%">
                    REBUILD COMMUNITIES
                </div>
                <div class="big-writing">
                   Funding <br/>
                   California’s <br /> 
                   <strong>cleaner <span>future</span></strong>
                </div>
                <div class="arrow-section">
                    <a href="./community.html" class="homepage-learn-more">
                    Learn More <span></span>
                    </a>
                </div>
            </div>
            <div class="right-side">
                <p>The California Public Utilities Commission partnered with local utilities to fund this <strong>$22 million</strong> program. The incentives can be paid directly to homeowners or through their builder of choice. When incentives are paid to the homebuilder, that builder is obligated to apply those savings directly to the final cost of the home. </p>
                <p>Typically, funds are distributed 2–3 months after construction is completed.</p>
                <p>If you've already qualified, you can <a href="#" class="contact-link" target="_blank">start your application</a> now.</p>
                <div class="arrow-section mobile">
                    <a href="./community.html" class="homepage-learn-more">
                    Learn More <span></span>
                    </a>
                </div>
            </div>
        </div>
      </button>
     
    </div>
  </div>
  <div class='container2'>
  </div>
  </div>
</section>