---

---
    <div id="fullWidthPanel" class="full-width-panel" aria-label="Funding Panel Closed">
        <button class="close" aria-label="close button">close</button>
     <div class="panel-content">
        <h2>Explore Funds</h2>
        <div class="t-system">
            <div>Select Category</div>
            <div><a href="bythenumbers.html">Explore All Funds <img src="./images/funds-circle.svg" alt=""></a></div>
        </div>
        <div class="select-area w-100">
            <select class="form-select" aria-label="Default select example" id="homeDropdown">
            <option selected value="program">Program performance metrics</option>
            <option value="participation">Participation and demographics</option>
            </select>
        </div>
        <div id="performanceList"></div>
       
    </div>
    </div>