---
---
<header class="container-fluid  p-3 sticky-top">
    <div class="container d-flex  align-items-center justify-content-between">
        <div class="logo">
            <a href="index.html">
                <img src="images/logo-dark.svg" alt="RISE Homes Logo" class="img-fluid desk">
                <img src="images/RISE_Homes_logo_vert_no-tag_RGB_Release.png" alt="RISE Homes Logo" class="img-fluid mobile">
            </a>
        </div>
         
            
        <div class="menu-toggle">
            <button class="toggle" role="switch"    aria-checked="false"    tabindex="0">
                <span>EN</span>  <span> ES</span>
                <div class="toggle-circle"></div>
            </button>
            <span class="decrative"></span>
            <button class="btn btn-outline-primary" id="menuButton"><i class="fas fa-bars"></i> Menu</button>
        </div>
    </div>
</header>
