---

---

<div class="video-box-of-goods collage-container">
    <video src="videos/Plant_video.mp4"   playsinline muted  class="item one"></video>
    <video src="videos/hands.mp4"    playsinline muted   class="item three"></video>
    <video src="videos/construction_man.mp4"    playsinline muted  class="item two"></video>
    <video src="videos/familyhallyway.mp4"    playsinline muted poster="" class="item four"></video>
    <video src="videos/poppies.mp4"    playsinline muted poster="" class="item five"></video>
</div>
<button id="playPauseButton" style="display: none;">Pause</button>  