---
import Head from '../components/Head.astro';
import BaseHead from './BaseHead.astro';
import Header from '../components/Header.astro';
import Menu from '../components/Menu.astro';
import FundingPanel from '../components/FundingPanel.astro';
import ButtonFinance from '../components/ButtonFinance.astro';
import Footer from '../components/Footer.astro';
const {title = 'Rise Homes'} = Astro.props;

---
<!DOCTYPE html>
<html lang="en">
<BaseHead title={title}>
</BaseHead>
<body id="languageCheck" class="">
    <div class="shield"></div>
<!-- Google Tag Manager (noscript) -->
<!-- End Google Tag Manager (noscript) -->
<!-- Header -->
<Header />
<Menu />
<!-- Full-width Panel -->
<FundingPanel />

<section class="bg-primary overflow-hidden">
    <div class="container">
        <div class="hero">
           <slot name="after-hero-content"></slot>
        </div>
        <!-- end hero -->
    </div>
</section>

<slot name="after-content-section">
</slot>

    <Footer />
<ButtonFinance />
    <!-- GSAP and Bootstrap Scripts -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Your GSAP animations -->
   <script is:inline src="js/gsap.min.js"></script>
    <script is:inline src="js/ScrollTrigger.min.js"></script>
    <!-- <script is:inline src="js/animations.js"></script> -->
    <script is:inline src="js/script.js"></script>
    <script is:inline src="js/home.js"></script> 
    <script is:inline src="js/performance.js"></script>
    <slot name="extra-scripts"></slot>
<!-- End Google Tag Manager -->
</body>
</html>
